<div>
<h2>Friend details</h2>
<p>{{model.firstName}}</p>
<p>{{model.lastName}}</p>
</div>

<form {{ action "save" on="submit" }}>
<h2>{{errorMessage}}</h2>
 <fieldset>
   {{input value=model.firstName placeholder='First Name'}}<br>
   {{input value=model.lastName placeholder='Last Name'}}<br>
   {{input value=model.email placeholder='Email'}}<br>
   {{input value=model.twitter placeholder='Twitter'}}<br>
 </fieldset>
 <input type="submit" value="Save"/>
 <button {{action "cancel"}}>Cancel</button>
</form>
