<h2>Total Friends: {{model.length}}</h2>
<table>
	<thead>
		<th>
			Name
		</th>
		<th>Articles</th>
		<th></th>
	</thead>
	<tbody>
		{{#each model as |friend|}}
		<tr>
			{{link-to friend.fullName "articles" friend tagName="td"}}
			<td>
				{{friend.totalArticles}}
			</td>
			<td>
				<a href="#" {{action 'delete' friend}}>Delete</a>
			</td>
		</tr>
		{{/each}}
	</tbody>
</table>
