<div class="card friend-profile">
  <p>{{model.firstName}}</p>
  <p>{{model.lastName}}</p>
  <p>{{model.email}}</p>
  <p>Twitter: {{model.twitter}}</p>
  <p>{{link-to 'Lend article' 'article.new'}}</p>
  <p>{{link-to 'Edit Info' 'friends.edit' model}}</p>
  <p>
    <a href="#" {{action "delete" model }}>Delete Account</a>
  </p>
</div>
<div class="articles-container">
{{outlet}}
</div>
