<nav>
  {{link-to 'Borrowers' 'index' class='brand'}}

  <input class="show" id="bmenu" type="checkbox">
  <label class="burger toggle pseudo button" for="bmenu">menu</label>
  <div class="menu">
    {{link-to 'Dashboard' 'index' class="pseudo button icon-gauge"}}
    {{link-to 'Friends' 'friends.index' class='pseudo button icon-users-1'}}
    {{link-to 'New Friend' 'friends.new' class='pseudo button icon-user-add'}}
  </div>
</nav>
